/* IMPORT DE LA FONT ROBOTO VIA GOOGLEFONT */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap");

/* COULEUR DU FOND EN NOIR */
body {
  background-color: black;
  font-family: "Roboto", sans-serif;
}
/* POLICE ET COULEUR DES TITRES CATEGORY */
h2 {
  color: white;
  font-size: 20px;
  margin: 20px 0;
}
/* MARGE INTERIEUR GAUCHE*/
.App {
  padding-left: 50px;
  padding-bottom: 50px;
}
/* SCROLLBAR POUR DEFILEMENT DES IMAGES  */
.images-container {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
/* BLOQUE LE DEFILEMENT */
.images-container::-webkit-scrollbar {
  display: none;
}
